// Enter your WiFi credentials
#define SETUP_WIFI_SSID #YOUR_SSID#
#define SETUP_WIFI_PASSWORD #YOUR_WIFI_PASSWORD#


// Setup MQTT Server
#define SETUP_MQTT_BROKER #YOUR_MQTT_BROKER_ADDRESS#
#define SETUP_MQTT_PORT #YOUR_MQTT_BROKER_PORT#
#define SETUP_MQTT_PATH #YOUR_MQTT_PATH#
#define SETUP_MQTT_USER #YOUR_MQTT_USER#
#define SETUP_MQTT_PASSWORD #YOUR_MQTT_PASSWORD#
#define SETUP_MQTT_CLIENTID "WIFIPLUG"


// OTA Updater
#define SETUP_OTA_HOSTNAME #YOUR_OTA_HOSTNAME#
#define SETUP_OTA_PASSWORD #YOUR_OTA_PASSWORD#
#define SETUP_OTA_PORT #YOUR_OTA_PORT#
